.hydrogen-sim.container {
    max-width: 1200px;
    padding: 0;
}

.TopHalf {
    display: flex;
}

.MainView {
    position: relative;
    width: 950px;
    height: 280px;
    /*border: 1px solid sienna;*/
}

.modal-content {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


.BackgroundCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*border: 1px solid white;*/
    background-color: black;
    z-index: 0;
}

.BackgroundSVG {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid black;
    background-color: transparent;
    z-index: 10;
    overflow: hidden;
}

.Diagram {
    flex-grow: 1;
    margin-left: 10px;
    border: 1px solid black;
    /*fill: lightseagreen;*/
}

.BottomHalf {
    display: flex;
    margin-top: 10px;
    position: relative;
    /*height: 400px;*/
}

.ManualExcitations {
    position: relative;
    bottom: 5px;
    border: 1px solid black;
    margin-left: 370px;
    margin-top: 10px;
    width: 180px;
    height: 90px;
}

.dropButton {
    background-color: lavender;
    border-radius: 10px;
}

#level-select {
    font-size: 12px;
    border-radius: 10px;
    padding: 1px 5px;
    background-color: aliceblue;
}

.dropBox {
    margin-left: 30px;

}

.spectrumTexts {
    fill: rgb(200, 0, 0);
}

.tickMarkTexts {
    fill: royalblue;
}


#infraredLabel {
    left: 85px;
}

#visibleLabel {
    left: 115px;
}

#ultravioletLabel {
    left: 315px;
}

.Controls {
    width: 900px;
    border: 1px solid black;
    position: relative;
}

.EventLog {
    flex-grow: 1;
    height: 400px;
    margin-left: 10px;
    border: 1px solid black;
    /*fill: ;*/
}

.LogContainer {
    /*height: 400px;*/
    margin-right: 16px;
    margin-left: 16px;
    width: 250px;
    height: 300px;
    border: 1px solid #ccc;
    overflow-y: auto;
    overflow-x: hidden;
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scroll bar for Chrome, Safari, and Opera */
.LogContainer::-webkit-scrollbar {
    display: none;
}

.FirePhotonButton {
    margin: 0 auto;
}

.PhotonSpectrum {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 14px;
    width: 860px;
    height: 54px;
    border: 1px solid #ccc;
    position: relative;
}

.spectrumLabels {
    position: relative;
}

#frequencyLabel, #wavelengthLabel, #energyLabel {
    position: absolute;
    right: 0;
    font-size: 12px;
    bottom: 68%;
}

#pauseSwitchText {
    position: relative;
    margin-top: 5px;
    margin-left: 18px;
    font-size: 14px;
}

.SliderContainer {
    margin-left: 20px;
    width: 860px;
    height: 60px;
    border: 1px solid lightseagreen;
}

.pauseSwitch {
    position: relative;
    margin-top: -12.5px;
    margin-left: 75px;
    /*float: right;*/
    /*bottom: 5px;*/
    /*right: 30px;*/
}

.TitleText {
    text-align: center;
    font-size: 16px;
    position: relative;
    top: 5px;
}

#HydrogenAtomText {
    font: bold 20px sans-serif;
    fill: white;
}

#eLevelText {
    font: 14px serif;
    fill: darkturquoise;
}

#ionizedText {
    font-size: 14px;
    font-weight: bold;
    fill: lime;
}

#largePlusSign {
    font: 40px serif;
    fill: red;
}

#feedback {
    position: relative;
    float: right;
    bottom: 75px;
    background-color: rgb(255, 193, 8);
    text-align: center;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

#feedback:hover {
    box-shadow: 0 5px 15px rgba(255, 193, 8, .4);
}

#previousEnergyText {
    font: 14px serif;
}

#newEnergyText {
    font: 14px serif;
}

#leftTextEventLog {
    font: 14px serif;
}

#rightTextEventLog {
    font: 14px serif;
}

circle.electron {
    cursor: move;
}
